<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://localhost:35729"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>  

  <div class="wrap">
    <div class="container main">
        <h1 class="header">Propheta<small id="subheader">  Trend Prediction Tool for <i class="fa fa-twitter"></i></small></h1>
        <br>
        <form class="search" method="post" action="/">
            <input class="simplebox user-input" name="search_query" type="text "placeholder="Search whatever your heart desires..">
        </form>
    </div>
    <div id="push"></div>
  </div>  

</body>
	<div class="footer">
	  <div class="container">
	    <span class="footer-text">
	   		<a href="http://instagram.com/jeanpaulversace"><i class="fa fa-instagram"></i></a>
	   		<span class="tab">
	   		<a href="http://twitter.com/aznphatboi93"><i class=" fa fa-twitter"></i></a>
	   		<span class="tab">
	   		<a href="http://github.com/jeanpaulversace"><i class=" fa fa-github"></i></a>
	   		<span class="tab">
	   		winstontri@gmail.com
	   	</span>
	    </p>
	  </div>
	</div>

	<!-- 3rd-party scripts -->
  <script src="/js/util/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="/js/util/underscore.js" type="text/javascript"></script>
  <script src="/js/util/backbone.js" type="text/javascript"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

  <!-- Presentation/Backbone.js -->
  <script src="/js/presentation/window-center.js" type="text/javascript"></script>
  <script src="/js/presentation/backbone-view.js" type="text/javascript"></script>

  <!-- Chart/Graph Generation -->
  <script src="/js/highcharts/example-chart.js" type="text/javascript"></script>

  <!-- Main/Kickoff -->
  <script src="/js/main.js" type="text/javascript"></script>
</html>
