@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);

.header {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 5em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  /* Add top-padding to vertically center text*/
  padding-top: 1.05%;
}

hr {
	color: black;
}

/*
body {
	background-image: url('/img/squairy_light.png');
}*/
input.simplebox:active {
	border-bottom: 1px solid black;
}

.simplebox
{
  outline: none;
  border:none !important;
  box-shadow:none !important;
  resize:none;
  width: 1200px
}


#subheader {
	font-weight: 100;
	font-size: 0.4em ;
}

.tab { margin-left: 20px; }

span {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1em
}